<div class="container">
  <div class="project-list">
    <h4>Start line <button (click)="clearField()">Clear</button></h4>
    @for (user of users; track user.id) { @if (user.status === 'start-line') {
    <div
      class="user-card"
      draggable="true"
      (dragstart)="onDragStart($event, user, undefined)"
      (dragover)="onDragOver($event)"
    >
      <img src="{{ user.avatar }}" alt="{{ user.name }}" />
      <p class="name">{{ user.name }}</p>
    </div>
    } }
  </div>

  @for (project of projects; track project.id) {
  <div
    class="project-list"
    (drop)="onDrop($event, project)"
    (dragover)="onDragOver($event)"
  >
    <h4 class="title">
      {{ project.name }}
      <p>[{{ project.capacity }}]</p>
    </h4>

    <p class="actual-capacity">
      {{ project.actual_capacity }}
      @if (project.actual_capacity >= project.capacity) {Full}
    </p>

    @for (user of users; track user.id) { @if (user.status === project.name) {
    <div
      class="user-card"
      draggable="true"
      (dragstart)="onDragStart($event, user, project)"
      (dragover)="onDragOver($event)"
    >
      <img src="{{ user.avatar }}" alt="{{ user.name }}" />
      <p class="name">{{ user.name }}</p>
    </div>
    } }
  </div>
  }
</div>
