nav {
  width: 100vw;
  margin-bottom: 50px;

  h1 {
    text-align: center;
    font-size: 2rem;
    // color: #606060;
    color: white;

    letter-spacing: 2px;
  }

  .navbar {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }
  .navbar li {
    margin: 0 20px;
  }

  .navbar a {
    text-decoration: none;
    font-size: 1.2rem;
    color: #7d7d7d;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: white;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    &:hover {
      background-color: #f9f9f9;
      color: #4f4f4f;
    }
    &.active {
      background-color: #f9f9f9;
      color: #555555;
    }
  }
}
