.container {
  display: flex;
  overflow-x: visible;
  white-space: nowrap;

  gap: 20px;
  width: max-content;
  height: 100%;
  padding: 0 20px;

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;
  scrollbar-width: none;

  .addBtn {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1.2em;
    cursor: pointer;
  }
}

.project-list {
  display: inline-block;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 300px;
  height: 80vh;
  padding: 20px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;

  h4 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #3f51b5;
    text-align: center;
  }

  button {
    background-color: #f44336;
    color: #fff;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.8em;
    &:hover {
      background-color: #d32f2f;
    }
  }

  .title {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: #3f51b5;
  }
  .actual-capacity {
    text-align: center;
    border: solid 1px #ccc;
    border-radius: 4px;
    padding: 10px;
  }
}

.user-card {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  cursor: grab;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;

  &:hover {
    background-color: #f9f9f9;
    transform: translateY(-3px);
  }

  img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
  }

  p.name {
    font-size: 1em;
    font-weight: 500;
    margin: 0;
    color: #34495e;
  }

  &.dragging {
    opacity: 0.5;
  }
}
