@if(isOpen){
<div class="form">
  <div class="form-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2>Add New Project</h2>
    <form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
      <label for="name">Project Name:</label>
      <input id="name" formControlName="name" required />

      <label for="capacity">Capacity:</label>
      <input id="capacity" formControlName="capacity" type="number" required />

      <button type="submit" [disabled]="projectForm.invalid">
        Add Project
      </button>
    </form>
  </div>
</div>
}
